/*Colors*/
$movieit-black: #2d2d2d;
$movieit-red: #fd0808;
$movieit-white: #ffffff;
$movieit-light-pink: #ed98a4;
$movieit-dark-grey: #626262;
$movieit-grey: #969696;
$movieit-light-grey: #d6dbe8;
$movieit-super-light-grey: #f5f5f5;
$movieit-blue: #0019ff;
$movieit-dark-red: #986f6f;
$movieit-green: #0fa958;
$movieit-yellow: #ffc700;

/*form colors*/
$error-red: #d22d2d;

/*Paddings*/
$mobile: 1.6rem;
$tablet: 3.2rem;

/*Media break-point*/
$phone-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/*Font weight*/
$bold: 800;
$demi: 600;
$regular: 400;
